body{
    background: #eef9bf;
}
header{
    text-align: center;
    
}
main{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   
}
.title{
    color: #75B79E;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 47px;
}
.game{
    display: flex;
    flex-wrap: wrap;
    max-width: 1130px;

}
.card{
    transform-style: preserve-3d;
    transition: 0.3s;
    position: relative;
    width: 117px;
    height: 146px;
    margin: 34px 34px 0 34px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    
}
.card:active {
    transform: scale(0.97);
  }
.front-face,
.back-face {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 20px 10px;
}

.front-face {
     transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
}
.remove{
    display: none;
}
@media (max-width: 614px){
 
    .title{
        
        font-size: 36px;
        padding: 0 50px;
       
    }    
    .game{
        max-width: 200px;
        margin-left: 0;
    }
}    